<h1>List of cocktails</h1>
<%= link_to "Add a cocktail", new_cocktail_path %>

<% @cocktails.each do |cocktail|%>
  <div>
    <h4><%= cocktail.name %></h4> <%= link_to "View", cocktail_path(cocktail) %>

  </div>
<% end %>



