
<h1 class="text-center">Add a cocktail</h1>
<div class="container wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">


        <%= render 'form_cocktail', cocktail: @cocktail %>

    </div>
  </div>
</div>

