<h1><%= @cocktail.name %></h1>

<div>
  <% if @cocktail.doses.empty? %>
    <p>No dose yet</p>
  <% else %>
    <p>You need :</p>
      <% @cocktail.doses.each do |dose|%>
      <p> <%= dose.description %></p>
    <% end %>
  <% end %>

</div>

<%= link_to "back", cocktails_path %>
